In [1]:
import yfinance as yf 
import pandas as pd

In [2]:
data = yf.download(["GOOG"], period= "1mo")
data.head()

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open    Volume
Ticker            GOOG        GOOG        GOOG        GOOG      GOOG
Date
2025-03-10  167.809998  170.449997  165.565002  170.160004  28990700
2025-03-11  165.979996  168.654999  163.240005  166.679993  23705900
2025-03-12  169.000000  169.529999  165.479996  168.470001  19880100
2025-03-13  164.729996  168.119995  164.070007  167.979996  15206200
2025-03-14  167.619995  168.250000  164.509995  165.315002  18611100

In [3]:
data = yf.download(['GOOG','META'], period="1mo")
data.head()

[*********************100%***********************]  2 of 2 completed

Price            Close                    High                     Low  \
Ticker            GOOG        META        GOOG        META        GOOG
Date
2025-03-10  167.809998  597.458435  170.449997  609.567657  165.565002
2025-03-11  165.979996  605.171631  168.654999  614.383406  163.240005
2025-03-12  169.000000  619.009277  169.529999  632.767057  165.479996
2025-03-13  164.729996  590.114990  168.119995  619.948433  164.070007
2025-03-14  167.619995  607.599976  168.250000  608.859985  164.509995

Price                         Open                Volume
Ticker            META        GOOG        META      GOOG      META
Date
2025-03-10  586.348325  170.160004  607.529492  28990700  21999900
2025-03-11  592.802630  166.679993  594.521072  23705900  17401500
2025-03-12  608.808331  168.470001  629.340113  19880100  15747000
2025-03-13  585.988657  167.979996  619.698655  15206200  16480300
2025-03-14  594.780029  165.315002  602.799988  18611100  12364500